* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue";
  outline: none;
}

a {
  color: orange;
  text-decoration: none;
}

#menu {
  width: 100%;
  display: flex;
  align-items: center;
  background: #34495e;
}
#menu li {
  display: block;
  list-style: none;
}
#menu li a {
  display: block;
  float: left;
  padding: 1em 2em;
  background: #2c3e50;
  color: #ecf0f1;
  border-left: 1px solid #34495e;
}
#menu li a:hover {
  color: #000;
  background: #f1c40f;
}

.logo {
  flex: 1;
  color: #fff;
}

.logo span {
  color: #f1c40f;
}

.wrap-menu {
  width: 100%;
  min-width: 800px;
  padding: 0 2em;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrap {
  width: 80%;
  min-width: 800px;
  padding: 0 2em;
  margin: 0 auto;
}

.wrap-padding {
  padding: 2em;
}

.menu-io {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2em;
}

.menu-io > .btn {
  padding: .5em 1em;
  background: #34495e;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

.menu-io > .btn:hover {
  background: #f1c40f;
  color: #000;
}

.charts {
  width: 50%;
  margin: 0 auto;
  position: relative;
}

.scatterplot-label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: bold;
}

.charts li {
  width: 24%;
  margin: .5%;
  float: left;
  height: 8vw;
  list-style: none;
}

.wrap-home {
  display: flex;
  flex-direction: column;
}

.scatterplot {
  cursor: pointer;
}

.scatterplot:hover {
  background: #fff5ce;
}

.chart-info {
  display: flex;
}

.chart-info__range {
  width: 100%;
  text-align: left;
  margin-bottom: 4em;
}

.chart-info__range__line {
  text-align: left;
  margin-top: 2em;
}

.chart-info__range__line h3 {
  margin-bottom: 1.5em;
}

.scatterplot-zoom {
  width: 45%;
  padding-left: 5%;
}

.tooltip {
  background: #333;
  color: #fff;
  border-radius: 3px;
  opacity: .8;
  padding: .5em;
}

.tooltip > span {
  display: block;
}